<!--table-bordered-->
<table class="table dark-table" id="dataTable" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Talla</th>
            <th>Precio</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let articulo of articulo">
            <td>{{articulo.nombre}}</td>
            <td>{{articulo.descripcion}}</td>
            <td>Talla: {{articulo.talla}}</td>
            <td><div>
                <div>Precio: {{articulo.precio}}€</div>
                <div *ngIf="articulo.rebajado">Precio rebajado: {{articulo.precioRebajado}}€</div>
            </div></td>
        </tr>
    </tbody>
</table>
