.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #AAA;
    border: 2px black solid;
    border-collapse: collapse;
    div{
        width: 180px;
        margin: 20px;
    }
}